@font-face {
    font-family: norwester;
    src: url(norwester.woff);
    font-weight:400;
}

body {
    font-family: norwester, georgia, serif;
    font-size: 40px;
}

/*
 * Colors:
 * #D3E6F7;
 * #1A292B;
 * #C2624A;
 * #AAACAD;
 * #C2624A;
 */

.remark-container {
    background-color: #D3E6F7;
}
.remark-slide-scaler {
    background-color: #1A292B;
    color: white;
    box-shadow: 0 0 30px #000;
    -webkit-box-shadow: 0 0 30px #000;
}

.subtle {
    opacity: 0.25;
}

.center {
    text-align: center;
}
